.datepickerrange {
	position: fixed;
  left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
  overflow: auto;
  z-index: 100;
  background-color: white;
  .mat-card {
    display: flex;
    flex-direction: column;
    align-content: center;
		align-items: center;
  }
}

.predefinedrange {
  width: 100%;
  order: 0;
}
.datepickers {
  flex-direction: row;
  order: 1;
}

.datepickers {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-direction: column;
		margin: .2em;
		padding: .2em;
		ang-datepicker {
			filter: drop-shadow(2px 2px 3px rgba(00,00,00,.2));
		}
  }
}

.datepickerrange_msg--warn {
	color: #ff4e4e;
}

.datepickerrange__msg {
  min-height: 1.1em;
  margin-bottom: 1em;
  text-align: center;
}

.datepickerrange__buttons {
  display: flex;
  justify-content: space-between;
  button {
    height: 40px;
  }
}

.dateText{
  display: none;
}

.controls {
  order: 2;
  width: 13em;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 700px) {

  .datepickerrange {
    left: unset;
		top: unset;
		width: auto;
    .mat-card {
			height: 310px;
      flex-direction: row;
      .controls {
        justify-content: space-between;
        order: 0;
				height: 100%;
      }
      .datepickers {
        flex-direction: row;
        order: 1;
      }
      .predefinedrange {
        order: 2;
      }
      .control {
        max-width: 11em;
      }
    }
  }

  .dateText{
		h3 { 
			text-transform: uppercase;
			font-size: .9em;
			margin-top: 0;
			margin-bottom: .3em;
		}
		p {
			margin: 0 0 .6em 0;
		}
    display: block;
  }

  .datepickerrange__msg {
    font-family: sans-serif;
    text-align: left;
		height: 100%;
		overflow-y: auto;
		p { 
			margin: .4em 0 0 0;
			font-size: .8em;
		}
  }
}
