<!--The content below is only a placeholder and can be replaced.-->
<form #calendarForm class="calendar input">
  <input [(ngModel)]="startDate"
  placeholder="select start date"
  name="startDate"
  /> 
  <input [(ngModel)]="endDate"
  placeholder="select end date"
  name="endDate"
  /> 
  <button (click)="openCalendar()"> Open Calendar </button>
</form>
<ng-container *ngIf="isOpen">
  <ang-daterange-picker
    [startDate]="startDate"
    [endDate]="endDate"
    [dateFormat]="'MMM DD, YYYY'"
    [rangeEnd]="rangeEnd"
    [rangeStart]="rangeEnd"
    [dateTest]="dateTest"
    (OnSelectedDaterange)="applyDates($event)"
    (OnCloseDaterangePicker)="openCalendar()"
    ></ang-daterange-picker>
</ng-container>

<h1> This is some content whoa </h1>
