@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$datepicker-breakpoint: 1020px;
$datepicker-black: red ;
$datepicker-white: blue;
$datepicker-disabled: green;
$datepicker-chevron: lime;
$datepicker-invalid: navy;
$datepicker-valid: brown;
$datepicker-chosen-day: pink;
.inline {
  display: flex;
}
@import "./calendar_theme"
